
<app-navbar
  (fileAction)="onFileAction($event)"
  (viewToggle)="onViewToggle($event)"
  (themeChange)="onThemeChange($event)"
  (editorTypeChanged)="editorType = $event">
</app-navbar>

<div class="app-container">
  <div #leftPanel class="panel left-panel">
    <app-editor
      [editorType]="editorType"
      (diagramData)="onDiagramData($event)"
      (validStatus)="isValid = $event">
    </app-editor>
  </div>
  <div
    class="splitter"
    (mousedown)="onDragStart($event)">
  </div>
  <div class="panel right-panel">
    <app-diagram
      [nodes]="diagramData.nodes"
      [connectors]="diagramData.connectors">
    </app-diagram>
  </div>
</div>
<div class="status-bar">
  <span [class.invalid]="!isValid">
    {{ isValid ? 'Valid' : 'Invalid' }} {{ editorType | uppercase }}
  </span>
  <span class="node-count">
    Nodes: {{ diagramData.nodes.length }}
  </span>
</div>