
<app-navbar
  (fileAction)="onFileAction($event)"
  (viewToggle)="onViewToggle($event)"
  (themeChange)="onThemeChange($event)"
  (editorTypeChanged)="editorType = $event">
</app-navbar>

<!-- <ejs-splitter orientation="Horizontal" [paneSettings]="[{ size:'300px' },{}]">
  <e-panels>
    <e-panel>
      <app-editor
        [editorType]="editorType"
        (diagramData)="updateDiagram($event)"
        (validStatus)="isValid = $event">
      </app-editor>
    </e-panel>
    <e-panel>
      <app-diagram
        [nodes]="diagramModel.nodes"
        [connectors]="diagramModel.connectors">
      </app-diagram>
    </e-panel>
  </e-panels>
</ejs-splitter>

<app-status-bar
  [isValid]="isValid"
  [nodeCount]="diagramModel.nodes.length"
  [language]="editorType">
</app-status-bar> -->
